html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#reset {
  cursor: pointer;
}

#win_status {
  margin: 0;
  font-size: 1.2em;
}

.cell {
  text-decoration: none;
  text-align: center;
  color: #000;
}
